@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Secular+One&display=swap');


.body {
    font-family: 'Inter', sans-serif;
}
 
.logo {
    font-family: 'Secular One', sans-serif;
} 

* {
     margin: 0 ;
     padding: 0;
     list-style: none;
}

a {
    text-decoration: none;
}


h1, h2, h3, h4, h5, h6 {
    color: #1D1D1D;
    font-family: 'Inter', sans-serif;
    margin-top: 15px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
.header .container, .hero .container, .hero-area-2 .container, .hero-area-3 .container, .hero-area-4 .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header {
    margin-top: 35px;
}

.mainmenu ul {
    display: flex;
}

.mainmenu li a {
    display: inline-block;
}

.mainmenu li a {
    display: inline-block;
    padding: 10px 27px;
}

li.Get-Started-Link a {
    background: #1361F5;
    border-radius: 5px;
    color: #FFF;
}

li.Login-link a {
    color: #094BCA;
}
.hero-text h2 {
    font-size: 48px;
    font-family: 'Inter', sans-serif;
    line-height: 50px;
    letter-spacing: -1px;
    margin-bottom: 35px;
}

.hero-text p {
    color: #223140;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -1px;
    font-family: 'Inter', sans-serif;
}

a.btn.primari-btn {background: #1361F5;border-color: #FFF;color: #FFF;}

.btn {
    border: 1px solid;
    display: inline-block;
    padding: 10px 27px;
    border-radius: 5px;
    margin-right: 10px;
}

a.btn.secondari-btn {
    border-color: #E0E0E0;
    color: #094BCA;
}

.hero-text p {margin-bottom: 45px;}
.hero-1-text h3 {
    text-align: center;
    font-size: 32px;
}


.hero-1-text h3 {
    letter-spacing: -1px;
    font-size: 32px;
    margin-top: 90px;
    font-family: 'Inter';
    line-height: 50px;
}

.hero-1-text p {margin-top: 35px; margin-bottom: 45px; font-family: 'Inter';line-height: 32px;letter-spacing: -1px;}

.hero-text .header {
    font-size: 24px;
}


header {
    
    font-size: 24px;
    color: #094BCA;
    font-family: 'Inter', sans-serif;
    line-height: 50px;
    letter-spacing: -1px;
}

.hero-text h {
    font-size: 37px;
}

.hero-text h3 {
    font-size: 32px;
    line-height: 50px;
    letter-spacing: -1px;
}
.hero-text p {
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -1px;
}
.hero-area-2 .container {
    margin-top: 90px;
}

a.stream-btn {background-color: #1361F5;font-size: 16px;line-height: 24px;color: #FFF;}


.hero-area-3 .container {
    margin-top: 60px;
}

.hero-area-3 .hero-text {
    margin-top: -40px;
    margin-left: 165px;
}

.hero-text h4 {
    margin-top: 15px;
    font-size: 32px;
    line-height: 50px;
    letter-spacing: -1px;
}

a.btn.connect-btn {
    background-color: #1361F5;
    color: #FFF;
}


.hero .container {
    margin-top: 83px;
}

.hero h2 {
    font-size: 48px;
}

.container .hero-img {
    margin-right: -15px;
}



.hero-1 .container {
    text-align: center;
    margin-top: 90px;
}
a.btn.gain-btn {
    background-color: #1361F5;
    color: #fff;
}

.hero-area-4 .container {
    margin-top: 60px;
}

.hero-text h5 {
    font-size: 32px;
    line-height: 50px;
    letter-spacing: -1px;
    margin-top: 15px;
    margin-bottom: 35px;
}

.hero-area-5 .container {
    margin-top: 168px;
    display: flex;
}


a.btn.explore-btn {
    background-color: #1361F5;
    color: #fff;
}

.hero-area-6 .container {
    text-align: center;
    margin-top: 100px;
}

.hero-im-1 {margin-top: -115px;margin-right: -45px;}


.hero-area-7 .container {
    display: flex;
}

.review-area .container {
    display: flex;
    margin-top: 90px;
}
.hero-area-8 .container {
    text-align: center;
    margin-top: 90px;
}

a.btn.free-trail-btn {
    background-color: #1361F5;
    color: #fff;
}

.review-img {
    display: inline-flex;
    border-spacing: inherit;
}


.final-area .container {
    display: flex;
    margin-top: 90px;
}

.final-area-2 .container {display: flex;}


.final-area-3 .container {margin-top: 120px;margin-bottom: 60px;}
